name: Pipeline cd

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login via OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to ACR e Push Docker
        run: |
          az acr login --name acrapiproductsbrs
          docker build -t acrapiproductsbrs.azurecr.io/api-products:${{ github.sha }} .
          docker push acrapiproductsbrs.azurecr.io/api-products:${{ github.sha }}

      - name: Deploy to Container App
        uses: azure/container-apps-deploy-action@v2
        with:
          acrName: acrapiproductsbrs
          containerAppName: api-products
          resourceGroup: rg-api-brs
          imageToDeploy: acrapiproductsbrs.azurecr.io/api-products:${{ github.sha }}
